body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.blue-font {
  color: #2196f3;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: #ffffff;
  text-align: center;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  height: 42px;
}
h3 {
  font: 700;
  font-size: 18px;
  line-height: 36px;
}
.h3{
font-style: Bold;
font-size: 36px;
line-height: 42px;
text-align: center;
}
h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
}
p {
  font-weight: 400;
  size: 16px;
  line-height: 30px;
  color: #757575;
}
.none {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 100%;
  margin-left: 215px;
}
.another-none {
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
}
.buttons :hover,
.button:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.another-none:hover,
.another-none:focus {
  color: #2196f3;
}
.href :hover,
.href:focus {
  color: #2196f3;
}
a {
  text-decoration: none;
  color: #212121;
  font-size: 14px;
}
link {
  text-decoration: none;
  color: aliceblue;
}
a:hover,
a:focus {
  color: #2196f3;
}
button {
  line-height: 139%;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  padding: 6px 0;
  line-height: 26px;
  padding-left: 22px;
  padding-right: 22px;
}
.button-place {
  display: block;
  cursor: pointer;
  width: 200px;
  height: 50px;
  background: #2196f3;
  margin-left: 42%;
  margin-top: 40px;
}
.href {
  line-height: 146%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 auto;
}
.container-class{
  display: flex;
  padding: 32px 0;
}
.section {
  padding: 94px 0;
}
/*header {
  flex-direction:row;
  justify-content: center;
}*/
.logo {
 justify-content: flex-start;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
}
/*.logo-position {
  padding-top: 24px;
  justify-content: flex-start;
}*/
.menu1{
  list-style: none;
  justify-content: center;
  display:flex
}
.menu-position {
  justify-content: center;
}
.header-adress {
  justify-content: flex-end;
}
.page-header {
  border-bottom: 1px solid #ececec;
}
.img{
  max-width: 1600px;
  background-size: contain;
  background: linear-gradient(rgba(47, 48, 58, 0.4));
}
.background-svg{
  width:270px;
  height: 120px;
  background-color: #F5F4FA;
}
.menu {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 56px;
}
.menu > .item:not(:last-child) {
  margin-right: 8px;
}
.about-us {
  display: flex;
  padding: 94px 0;
  list-style-type: none;
}
.about-us p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #757575;
}

.card-set {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  height: 100%;
}
.card-index {
  justify-content: space-between;
  list-style-type: none;
  display: flex;
  height: 100%;
  padding: 94px 0;
}
.card-index > .item:not(:last-child) {
  margin-right: 30px;
}
.ower-team {
  background-color: #f5f4fa;
}

.card {
  flex-basis: calc((100% - 2 * 30px) / 3);
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.firm{
  display:flex;
  
}
footer {
  background-color: #2f303a;
  padding: 60px 0;
  height: 252px;
}
.footer-adress {
  text-decoration: none;
  margin: 0 auto;
  list-style: none;
}
.adress {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}
.footer-color li {
  display: block;
  color: #ffffff;
  margin-left: 215px;
}
.footer-color a {
  color: rgba(255, 255, 255, 0.6);
}
.footer-color address {
  color: #ffffff;
}
.img {
  background-color: #2f303a;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4)) url('./../goit-markup-hw-04/images/index-picture/Img.png');
  max-width: 1600px;
  margin: 0 auto;
}
